{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assignment page</title>
    <style>
        img {
            position:absolute;
            left:0;
            right:0;
            margin:auto;
            height: 500px;
            width: 500px;
        }
    </style>
  </head>
  <body>
    <h1 style="text-align: center;"> Hello World! </h1>
    <script src="index.js"></script>
    <img src="{% static 'images/construction/1.jpeg' %}">
   
  </body>
</html>